<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>CFBundleDevelopmentRegion</key>
      <string>English</string>
      <key>CFBundleDisplayName</key>
      <string>lynx</string>
      <key>CFBundleExecutable</key>
      <string>lynx</string>
      <key>CFBundleIconFile</key>
      <string>lynx.icns</string>
      <key>CFBundleIdentifier</key>
      <string>com.github.woelper.lynx</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>lynx</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleShortVersionString</key>
      <string>0.5.5</string>
      <key>CFBundleVersion</key>
      <string>20210302.215419</string>
      <key>CSResourcesFileMapped</key>
      <true />
      <key>LSRequiresCarbon</key>
      <true />
      <key>NSHighResolutionCapable</key>
      <true />
      <key>CFBundleDocumentTypes</key>
      <array>
         <dict>
            <key>CFBundleTypeIconFile</key>
            <string>lynx.icns</string>
            <key>CFBundleTypeName</key>
            <string>HTML5 Audio (Ogg)</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSItemContentTypes</key>
            <array>
               <string>org.xiph.ogg-audio</string>
            </array>
         </dict>
         <dict>
            <key>CFBundleTypeIconFile</key>
            <string>lynx.icns</string>
            <key>CFBundleTypeName</key>
            <string>FLAC Audio</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSItemContentTypes</key>
            <array>
               <string>org.xiph.flac</string>
            </array>
         </dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>WAV</string>
			<key>CFBundleTypeName</key>
			<string>WAVE Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MP3</string>
			<key>CFBundleTypeName</key>
			<string>MP3 Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
      </array>
   </dict>
</plist>