<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleDisplayName</key>
		<string>lynx</string>
		<key>CFBundleExecutable</key>
		<string>lynx</string>
		<key>CFBundleIconFile</key>
		<string>lynx.icns</string>
		<key>CFBundleIdentifier</key>
		<string>com.github.woelper.lynx</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>lynx</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.5.5</string>
		<key>CFBundleVersion</key>
		<string>20210302.215419</string>
		<key>CSResourcesFileMapped</key>
		<true/>
		<key>LSRequiresCarbon</key>
		<true/>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeIconFile</key>
				<string>lynx.icns</string>
				<key>CFBundleTypeName</key>
				<string>HTML5 Audio (Ogg)</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>org.xiph.ogg-audio</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeIconFile</key>
				<string>lynx.icns</string>
				<key>CFBundleTypeName</key>
				<string>JPEG image</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.jpeg</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeIconFile</key>
				<string>lynx.icns</string>
				<key>CFBundleTypeName</key>
				<string>PNG image</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.png</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeIconFile</key>
				<string>lynx.icns</string>
				<key>CFBundleTypeName</key>
				<string>HTML5 Audio (Ogg)</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>org.xiph.ogg-audio</string>
				</array>
				<dict>
					<key>CFBundleTypeIconFile</key>
					<string>lynx.icns</string>
					<key>CFBundleTypeName</key>
					<string>WebP image</string>
					<key>CFBundleTypeRole</key>
					<string>Viewer</string>
					<key>LSItemContentTypes</key>
					<array>
						<string>org.webmproject.webp</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeIconFile</key>
					<string>lynx.icns</string>
					<key>CFBundleTypeName</key>
					<string>All images</string>
					<key>CFBundleTypeRole</key>
					<string>Viewer</string>
					<key>LSItemContentTypes</key>
					<array>
						<string>public.images</string>
					</array>
				</dict>
			</array>
		</dict>
	</plist>
